<%- include("partials/header") %>
<h1>Home</h1>
<p><%= homeStartingContent %></p>
<% items.map((item)=>{%>
<h1><%=item.title%></h1>
<p><%= item.post.substring(0,100) + "..."%>
    <a href = "/posts/<%=item.title%>">Read More</a>
</p>

<%})%>
<%- include("partials/footer") %>
